@using MarketPlace.Core.Models.Rating
 @model RatingModel

@{
    ViewBag.Title = "Rating";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Rating" method="post">
            <div class="form-group">
                <label asp-for="Rating"></label> <input asp-for="Rating" min="1" max="5" class="form-control" placeholder="Raiting...">
                <span asp-validation-for="Rating" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment">
                </label> <textarea asp-for="Comment" rows="4" class="form-control" placeholder="Your Comment...">
            </textarea> <span asp-validation-for="Comment" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>