@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Best Marketplace</h1>
   
     <img src="https://img.freepik.com/premium-vector/street-clothing-food-open-air-market-sidewalk-marketplace-megapolis-cityscape-background_88272-3089.jpg?w=1800" class="img-fluid" alt="Responsive image" width=100%>
 </div>
