@using MarketPlace.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using static MarketPlace.Extensions.ClaimPrincipalExtensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    string userName = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.FindByIdAsync(User.Id());

        userName = $"{user.FirstName} {user.LastName}";
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <form class="d-flex">
            <button class="btn" asp-area="" asp-controller="Cart" asp-action="Cart" type="submit">
                Cart
                <i class="fas fa-shopping-cart"></i>
            </button>
        </form>
        <li class="nav-item">
            <a class="btn" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userName! </a>

        </li>

        <form class="text-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="btn" type="submit">
                Log out
            </button>
        </form>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>

<style>
    .btn{
       font-size:1.1rem;
    }
    /* Button hover effect */
    .btn:hover {
            color: #ffffff; /* White text on hover */
            /* transform: scale(1.1); */
            transition: background-color 0.3s ease, color 0.3s ease;
    }

        /* Optional: Cart icon hover scaling effect */
        .btn:hover .fa-shopping-cart {
            transform: scale(1.1); /* Slightly enlarge icon */
            transition: transform 0.3s ease;
        }

</style>
