@using MarketPlace.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]-Best MarketPlace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/mine.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/RentingHouseSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MarketPlace</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="All">All Users</a>
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="AddCategory">Add new Category</a>
                        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="AllCategory">All Category</a>
                    </ul>
                    @* @await Component.InvokeAsync(nameof(AdminMenuCompnent)) *@
                    <partial name="_AdminPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Marketplace - <span class="text-danger">This area is only for Administrators!</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
<style>

    .footer {
        position: fixed;
        bottom: 50px;
        overflow: hidden;
        width: 100%;
        align-items: center;
        text-align: center;
        color:red;
    }

</style>


